/* line 1, app/assets/stylesheets/usersite_print.scss */
#main-nav {
  display: none;
}

/* line 5, app/assets/stylesheets/usersite_print.scss */
html,
body {
  background-color: #fff;
  color: #000;
}

/* line 8, app/assets/stylesheets/usersite_print.scss */
.qrcode-print:root {
  --share-modal-visibility: hidden;
  --qrcode__img-wrapper-outline: none !important;
  --qrcode__img-wrapper-position: fixed !important;
  --qrcode__img-wrapper-top: 0;
  --qrcode__img-wrapper-left: 50%;
  --qrcode__img-wrapper-transform: translateX(-50%);
  --qrcode__img-wrapper-text-outline: center;
  --qrcode__img-wrapper-img-visibility: visible;
}

/* line 19, app/assets/stylesheets/usersite_print.scss */
.qrcode-print.qrcode-print-show-url:root {
  --qrcode__img-wrapper-p-display: block;
  --qrcode__img-wrapper-p-visibility: visible;
}

/* line 24, app/assets/stylesheets/usersite_print.scss */
.qrcode-print .usersite-container-wrap {
  display: none;
}
